.btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-left: 10px;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #f91942;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}