//know us section styles starts
.play-circle {
    width: 170px;
    position: absolute;
    z-index: 999;
    bottom: -80px;
    right: 0;
    margin-bottom: 0;
    margin-right: 0;
    left: 0;

    .play-text {

        width: 200px;
        animation: rotation 15s infinite linear;
    }

}

.icon {
    top: 50%;
    right: 0;
    left: 0;
    margin-left: auto;
    width: 24px;
    position: absolute;
    margin-right: auto;
    margin-top: -12px;

    :hover {
        animation: vanishIn 1s linear;
        animation: vanishIn 1s linear;
    }
}

.about-text {
    padding-top: 140px;

    span {
        color: #ff1e00;
        font-size: 16px;

    }

    h3 {
        font-size: 50px;
        font-weight: 500;
        line-height: 100px;
    }

    h6 {
        font-size: 16px;
        font-weight: 300;
        line-height: 34px;
        color: #676767;
        padding-bottom: 20px;
    }
}

@media screen and (width >=1300px) {

    .play-circle {
        width: 200px;
        position: absolute;
        z-index: 999;
        bottom: 0;
        right: 0;
        margin-bottom: -130px;
        margin-right: -130px;
    }

    .about-text {


        h3 {
            font-size: 70px;
        }

        h6 {
            font-size: 20px;
        }
    }
}

@keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }
}

@keyframes vanishOut {
    0% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        filter: blur(20px);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}