#reel {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.reel-title {
    padding: 0 20px;

    h1 {
        font-family: 'Barlow Condensed',
            sans-serif;
        font-size: 40px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 900;
    }
}

@media screen and (width >=768px) {
    .reel-title {
        h1 {
            font-size: 90px;
        }
    }
}