@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import "./buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins',
        sans-serif;
    height: 100vh;
    background: #000;
    color: #fff;
    overscroll-behavior: none;


}

/*Cursor Start*/
.cursor {
    visibility: hidden;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: 5px;
    left: 5px;
    animation: cursorAnim2 .5s infinite alternate;
}


.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

//cursor stylin ends here

//particel js styling
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .25;
}

//main section styling
main {
    position: relative;

    /* Make sure the parent is relatively positioned */

}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-dummy-1.jpg");
    filter: brightness(50%);
    z-index: -2;

}

//typing text animations styling
.typing-text {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;

}

.text {
    color: white;
    border-right: 2px solid red;
    font-size: 30px;
    font-family: sans-serif;
    color: #ff1e00;
    font-weight: 700;

}

@media screen and (width >=768px) {
    .cursor {
        visibility: visible;
    }

    .typing-text,
    .text {
        font-size: 55px;
    }
}

//know us section styles starts
@import "./knowUs";
//know us section styles ends


//project section styles starts
@import "./project";
//project section styles ends

//services provided section styles
@import "./services";
//services provided section ends 

@import "./loader";

//animation keyframes sextion
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}